*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
  
}
.logo-nav p{
    font-weight: 600;
    color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.fa-facebook{
    color: #3b5998;
}
.fa-whatsapp{
    color: #25D366;
}
.fa-twitter{
    color: #00acee;
}
.fa-instagram{
    /* color: #3f729b; */
    color: crimson;
}
.fa-brands{
    transition: all .3s ease-in-out;
}
.fa-brands:hover{
    transform: scale(1.2);
}
.e{
    display: flex;
    align-items: center;
    justify-content: right;
}
.e a{
    margin: 10px;
}
footer{
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
    background: linear-gradient(to right, #00093c, #2d0b00);
    /* background: #00093c; */
    padding: 100px 0 30px;
    /* border-top-left-radius: 125px; */
    font-size: 13px;
    color: #fff;
    line-height: 20px;
}
.row1{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.col1{
    flex-basis: 25%;
    padding: 10px;
}
.col1:nth-child(2), .col1:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col1 h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 20px;
}
.col1 h4{
    font-size: 15px;
    font-weight: 600;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.footer-links li{
    list-style: none;
    margin-bottom: 12px;
    padding-left: 0;
}
.footer-links{
    padding-left: 0;
}
.footer-links li a{
    text-decoration: none;
    color: #fff;
}
.azu{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.azu .far{
    margin-right: 10px;
}
.azu input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none; 
    color: #ccc;
}
.azu button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.social-icons .fa-brands{
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
    text-align: center;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: infinite linear 2s moving;
}
@keyframes moving{
     0%{
        left: -20px;
     }
     100%{
        left: 100%;
     }
}
@media(max-width: 700px){
    footer{
        bottom: unset;
    }
    .col1{
        flex-basis: 100%;
       
    }
    .col1:nth-child(2), .col1:nth-child(3){
        flex-basis: 100%;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.footer-logo{
    font-weight: 600;
    color: orangered;
    font-size: 25px;
}
.about{
    text-align: center;
    place-self: center;
    margin: auto auto;
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/img/prod1.jpg);
    background-position: center;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    height: 50vh;
    background-repeat: no-repeat;
    padding-top: 120px;
    background-size: cover;
}
textarea{
    resize: none;
}
.fg{
    display: flex;
    padding: 30px;
    background: rgba(255, 68, 0, 0.495);
    align-items: center;
    border-radius: 10px;
}
.fg i{
    margin-right: 20px;
}
.vvv{
    margin-top: 30px;
}
.cont{
    margin-right: 20px;
}
.fa-google{
    color: red;
}
.fa-phone{
    color: green;
}
.ccc{
    position: absolute;
    right: 5%;
    bottom: 8%;
    position: fixed;
}
.fg2{
    display: flex;
    padding: 15px;
    align-items: center;
    border-radius: 10px;
}
.fa-comments{
    color: #000;
}
.vcv{
    text-align: center;
    font-weight: 600;
    color: orangered;
    margin: 60px auto;
}